@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body {
    background-color: #111;
}
section {
    margin-top: 50px;
}

header {
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;

}
header  .logo a {
    font-size: 25px;
    color: #5F97B3;
 
}
header  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li  {
    margin: 0 15px;
    list-style-type: none;
}

/* menu deroulant*/

.menuderoulant {
    float: left;
    overflow: hidden;
}

.menuderoulant .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sousmenu {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sousmenu a {
    font-size: 12px;  
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;    
}

.menuderoulant:hover .sousmenu {
    display: block;
}

.sousmenu a:hover {
    background-color: #5F97B3;
  }

/* menu deroulant2*/

.menuderoulant2 {
    float: left;
    overflow: hidden;
}

.menuderoulant2 .dropbtn2 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sousmenu2 {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sousmenu2 a {
    font-size: 12px; 
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  text-align: left;    
}

.menuderoulant2:hover .sousmenu2 {
    display: block;
}

.sousmenu2 a:hover {
    background-color: #5F97B3;
  }

/* menu deroulant3*/

.menuderoulant3 {
    float: left;
    overflow: hidden;
}

.menuderoulant3 .dropbtn3 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sousmenu3 {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sousmenu3 a {
    font-size: 12px; 
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;    
}

.menuderoulant3:hover .sousmenu3 {
    display: block;
}

.sousmenu3 a:hover {
    background-color: #5F97B3;
  }
/* menu deroulant4*/

.menuderoulant4 {
    float: left;
    overflow: hidden;
}

.menuderoulant4 .dropbtn4 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sousmenu4 {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sousmenu4 a {
    font-size: 12px; 
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;    
}

.menuderoulant4:hover .sousmenu4 {
    display: block;
}

.sousmenu4 a:hover {
    background-color: #5F97B3;
  }

/* menu deroulant*/
.menu li a {
    color: #fff;
    font-size: 14px;
}
.btn-reservation {
    color: #5F97B3;
    font-size: 14px;
    border: 2px solid #5F97B3;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover {
    background-color: #5F97B3;
    color: #fff;
 
}

/* Home acceuil CSS */

#home {
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("images/paris.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#home h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform: lowercase;
}
#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.home-btn {
    margin-bottom: 20px;
}

.find_trip {
    background-color: #222;
    padding: 20px;
    width: 50%;
    position: absolute;
    bottom: -50px;
}
.find_trip form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.find_trip form div , .find_trip form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.find_trip form label {
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}
.find_trip form input {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #5F97B3;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}
.find_trip form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #5F97B3;
    cursor: pointer;
    transition: 0.5s;
}
.find_trip form input[type="submit"]:hover {
    box-shadow: 0 0 10px #5F97B3;
}

/*A propos CSS*/
#a-propos {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10%;
    width: 100%;
}
.title {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-left:15px;
    font-size: 25px;

}
.title::after {
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #D1C9C9;
    width: 5px;
}
.img-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img-desc .left {
    position: relative;
    margin-left: 10px;
    height: 250px;
    width: 40%;
}
.img-desc .right {
    width: 57%;
}

.img-desc .left video {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px #5F97B3;
}
.img-desc .left::after {
    position: absolute;
    bottom: -10px;
    right: 10px;
    content: "";
    height: 100%;
    background-color: #5F97B3;
    width: 100%;
    z-index: -1;
}
.img-desc .right h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;

}
.img-desc .right p {
    color: #999;
    font-size: 14px;
    margin-bottom: 36px;
}
.img-desc .right a {
    border: 1px solid #5F97B3;
    color: #5F97B3;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}

/*Destination CSS*/
#popular-destination {
    margin-top: -580px; 
    padding: 0 10% ;
    margin-bottom: 20px;
}
#popular-destination .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 32px;
    
}

#popular-destination .content .box {
    overflow: hidden;
    position: relative;
    height: 250px;
    transition: 0.5s;
}
#popular-destination .content .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.box .content  h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.box .content p {
    padding: 2px;
    font-size: 12px;
}
.box .content p:nth-child(3){
    margin-bottom: 25px;
}
.box .content a {
    margin-top: 60px;
    padding: 10px 60px;
    border: 2px solid #5F97B3;
    color: #5F97B3;
    font-weight: bold;
}
.box:hover {
    box-shadow: 0 0 10px #5F97B3;
}
.box:hover .content {
    transform: translateX(0);
}

footer {
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
footer p {
    color: #fff;
}
footer p span {
    color: #5F97B3;
}
.responsive-menu {
    display: none;
}
/*Menu déroulant*/

/*Responsive*/
@media (max-width:750px) {
    header .menu {
        display: none;
    }
    .btn-reservation {
        display: none;
    }
    /*Home responsive*/
    #home h2 {
        font-size: 18px;
        -webkit-text-stroke: 0;
        color: #fff;
    }
    #home h4 {
        font-size: 28px;
    }
    #home p {
        text-align: center;
        font-size: 10px;
    }
    .find_trip {
        width: 100%;
        height: 200px;
    }
    .find_trip form {
        flex-wrap: wrap;
    }
    .find_trip form div {
        margin-top: 10px;
        flex-direction: column;
        width: 47%;
    }
    .find_trip form input[type="submit"]{
        width: 47%;
    }
    .home-btn {
        display:block;
    }
    /*Responsive A propos*/
    .img-desc {
        flex-direction: column;
        width: 100%;
    }
    .img-desc .left , .img-desc .right {
        width: 100%;
    }
    .img-desc .left video {
        width: 100%;
    }
    .img-desc .left::after {
        background-color: transparent;
    }
    .img-desc .left {
        margin-bottom: 20px;
    }

    /*Responsive menu*/
    .responsive-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .responsive-menu::after {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #5F97B3;
        width: 28px;
        box-shadow: 0 10px 0 #5F97B3;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .responsive-menu.active::after {
        box-shadow: 0 0 0 #5F97B3; 
        transform: rotate(45deg);
    }
    .responsive-menu::before {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #5F97B3;
        width: 28px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .responsive-menu.active::before {
        transform: rotate(-45deg);
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background-color: #222;
        align-items: unset;
        animation: animate-menu 1s forwards;
    }
    header .menu.responsive li {
        margin: 20px;
        width: 100px;
        padding-left: 20px;
    }

    @keyframes animate-menu {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100%);
        }
    }
}
